__pycache__/
*.pyc
.pytest_cache/
.DS_Store
.venv/
*.egg-info/

data/*
!data/.gitkeep

results/*
!results/.gitkeep

reports/*
!reports/.gitkeep

estimator/configs

estimator/feature_cache

estimator/kernels

estimator/lora_models

**/TEST*